<style type="text/css">

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

table {
    border-spacing: 0;
    mso-cellspacing: 0;
    mso-padding-alt: 0;
}

td {
    padding: 0;
}

#outlook a {
    padding: 0;
}

a {
    text-decoration: none;
    color: #e8fbfa;
    font-size: 16px;
}
</style>